@font-face {
    font-family: main;
    src: url(Fonts/PPMori-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: main;    
}

html,body{
    height: 100%;
    width: 100%;
    color: #fff;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
}

#nav{
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 2.2vw;
}

#nav img{
    height: 2.2vw;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    text-transform: uppercase;
}

#nav #circle{
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4{
    font-size: 1.3vw;
    font-weight: 100;
}
#nav h4:nth-child(1){
    border-bottom: 1px solid #fff;
}

.page1 h1{
font-size: 8.5vw;
font-weight: 100;   
margin-top: 7vw;
margin-left: 8vw;
letter-spacing: -3px;
}

.page1 h2{
    font-size: 8vw;
font-weight: 100;
margin-left: 28vw;
letter-spacing: -3px;
}

.page1 video{
    width: 60%;
    margin-top: 7vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 130vh;
    width: 100%;
    padding: 5vw 0vw;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 100;
    color: yellow;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page2-left{
    width: 38%;
}

.page2-right{
    width: 25%;
}

.page2-left h2{
font-size: 4vw;
font-weight: 100;
font-weight:100;

}

.page2-right p{
    font-size: 2vw;
    font-weight: 100;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 0.3vw 0vw;
    background-color: #EDBFFF;
    margin-top: 2vw;
}